body {
    /* background-image: url(PHOTO/téléchargement\ \(5\).jpeg);
    background-size: 100px; */
    background-color: rgb(12, 11, 34);
}

/* l'ensemble de tout */
.melange {
    display: flex;
}

/* le nom <porte folio> */
.pff {
    margin-left: 3%;
    color: white;
}

/* le liens  */
.liens {
    margin-top: 2%;
    margin-left: 50%;
}

/* encore le liens */
a {
    color: white;
    text-decoration: none;
    padding-right: 30px;
}

a:hover{
    color:  rgb(239, 59, 59);
}


/* l'imag seul */
.img1 {
    width: 30%;
    border-radius: 50%;
    margin-left: 30%;
}

/* les tout < photo et les ecris >*/
.tout {
    display: flex;
    color: white;
}

/* les ecris h2,p */
.ecris {
    margin-left: 3%;


}

/* les h2 */
h2 {
    color: rgb(239, 59, 59);
}

/* a propos */
.app {
    margin-left: 10%;

}

/* le paragraphe de <a propos> */
.para1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 6%;
    margin-top: 0;
    color: white;

}

/* COMPETENCES */
.compt {
    margin-left: 10%;
    margin-top: 5%;
}

/* paragarphe de competences */
.para2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 6%;
    margin-top: 0;
    color: white;
}

/* les quatres img dans competences*/
.img2 {
    height: 40%;
    object-fit: cover;
    display: flex;
    margin-left: 30%;
    padding-right: 10px;
}

/* les image fais par moi <hmtl et css> */
.img3{
    margin-right: 3%;
}